# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Node modules
node_modules/

# Environment files
.env
.env.local

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

# Build files
dist/
build/
